.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(3, 3, 3);
}

.box{
  border-radius: 5;
  border: 1px solid black;
  width: 200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.circle{
  border-radius: 50%;
  border: 1px solid black;
  height: 130px;
  width: 130px;
}
